.btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btn-s {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.btn-m {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.btn-x {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.icon-release {
  background: url(/images/release.png) no-repeat center center;
  background-size: cover;
}
.icon-picture {
  background: url(/images/picture.png) no-repeat center center;
  background-size: contain;
  background-position: 0 1px;
}
.icon-link {
  background: url(/images/link.png) no-repeat center center;
  background-size: contain;
}
.icon-upload-picture {
  background: url(/images/upload-picture.png) no-repeat center center;
  background-size: contain;
  background-position: 0 2px;
}
.icon-message {
  background: url(/images/message.png) no-repeat center center;
  background-size: contain;
}