.editor-wrap {
  margin: 10px;
}

.editor-box {
  padding: 10px;
  min-height: 100vh;
  border: 1px solid #108ee9;
}

.editor-bar {
  display: flex;
}

.editor-bar .editor-btn {
  margin: 0 10px 5px 0;
  padding: 0 5px;
  color: #108ee9;
  border: 1px solid #108ee9;
  background: #fff;
}
.editor-box img {
  width: 100%;
}
