.title-bar {
  display: flex;
  line-height: 16px;
}
.title-bar .link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title-bar .tips {
  margin-left: auto;
}
.title-bar .time {
  font-size: 12px;
  color: #515151;
}
